{% extends "analizzadati/basedashboard.html" %}
{% load static %}
{% block content %}
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-3 col-sm-6">
                    <div class="card card-stats">
                        <div class="card-body ">
                            <div class="row">
                                <div class="col-5">
                                    <div class="icon-big text-center icon-warning">
                                        <i class="nc-icon nc-check-2 text-success"></i>
                                    </div>
                                </div>
                                <div class="col-7">
                                    <div class="numbers">
                                        <p class="card-category">Numero sinistri analizzati</p>
                                        <h4 class="card-title">{{ num }}</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer ">
                            <hr>
                            <div class="stats">
                                <i class="fa fa-refresh"></i> Update Now
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="card card-stats">
                        <div class="card-body ">
                            <div class="row">
                                <div class="col-5">
                                    <div class="icon-big text-center icon-warning">
                                        <i class="nc-icon nc-umbrella-13 text-primary"></i>
                                    </div>
                                </div>
                                <div class="col-7">
                                    <div class="numbers">
                                        <p class="card-category">Condizione asfalto più frequente</p>
                                        <h4 class="card-title">

                                           {% for data in asfalto_moda %}
                                            {{ data }}
                                        {% endfor %}


                                        </h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer ">
                            <hr>
                            <div class="stats">
                                <i class="fa fa-calendar-o"></i> Last day
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-sm-6">
                    <div class="card card-stats">
                        <div class="card-body ">
                            <div class="row">
                                <div class="col-5">
                                    <div class="icon-big text-center icon-warning">
                                        <i class="nc-icon nc-support-17 text-danger"></i>
                                    </div>
                                </div>
                                <div class="col-7">
                                    <div class="numbers">
                                        <p class="card-category">Tipo strada maggiori incidenti: </p>
                                        <h4 class="card-title">


                                           {% for data in tipostrada_moda %}
                                            {{ data }}
                                        {% endfor %}


                                        </h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer ">
                            <hr>
                            <div class="stats">
                                <i class="fa fa-refresh"></i> Update now
                            </div>
                        </div>
                    </div>
                </div>
                 <div class="col-lg-3 col-sm-6">
                    <div class="card card-stats">
                        <div class="card-body ">
                            <div class="row">
                                <div class="col-5">
                                    <div class="icon-big text-center icon-warning">
                                        <i class="nc-icon nc-vector text-warning"></i>
                                    </div>
                                </div>
                                <div class="col-7">
                                    <div class="numbers">
                                        <p class="card-category">Errori trovati </p>
                                        <h4 class="card-title">
                                        {{ err }}
                                        </h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer ">
                            <hr>
                            <div class="stats">
                                <i class="fa fa-clock-o"></i> In the last hour
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="card " style="min-height: 38rem">
                        <div class="card-header ">
                            <h4 class="card-title">Frequenza incidenti</h4>
                            <p class="card-category">Dati relativi al mese di Gennaio e Febbraio 2013</p>

                            <div class="row p-2">
                            <div class="col-md-9"></div>

                             <div class="col-md-3">
                             <!-- <div></div> -->

                            <div class="btn-group">

                                    <button id="btncondasf" type="button" class="btn btn-default btn-outline">Per condizioni asfalto</button>
                                    <button id="btntipostrada" type="button" class="btn btn-default btn-outline">Per tipologia strada</button>

                            </div>
                            </div>

                        </div>
                        <div class="card-body ">

                                <canvas id="myChart"></canvas>
                                <!--  <div class="col-md-6 ml-auto mr-auto">
                                    <div id="worldMap" style="height: 300px;"></div>
                                </div> -->s

                        </div>
                    </div>
                </div>


                <!--  <div class="col-md-6">
                    <div class="card" style="min-height: 47rem">
                        <div class="card-header ">
                            <h4 class="card-title">Frequenza incidenti per tipologia collisione</h4>
                            <p class="card-category">Dati relativi al mese di Gennaio e Febbraio 2013</p>




                            </div>
                        <div class="card-body ">


                                <canvas id="myChart2"></canvas>
                                <!--  <div class="col-md-6 ml-auto mr-auto">
                                    <div id="worldMap" style="height: 300px;"></div>
                                </div> -->


                        </div>
                    </div>
                </div> -->


            </div>




    </div>

{% endblock %}
{% block jquery %}
   <!--  <script src="{% static 'analizzadati/myscript/basatisuconducente.js' %}" type="text/javascript">
    </script> -->



<script src="{% static 'analizzadati/myscript/basatisumeteo.js' %}" type="text/javascript">
</script>


<!-- <script type="text/javascript">
$( document ).ready(function() {
    //console.log("hello world")
    /*getData().done(testPost)*/
     var endpoint = '/incidenticosenza/ajax/dashboard-conducenti'
     $.ajax({
        method:"GET",
        url:endpoint,
        success:function(data){
              alert("hi")
        },
        error:function(data){
            alert("neg")
        }

    });
    /*getData().done(createPiechart)*/
});


/*var barchart;
*/

function getData(){
        var endpoint = '/incidenticosenza/ajax/dashboard-conducenti'
        return $.ajax({
        method:"GET",
        url:endpoint,
        success:function(data){
              alert("hi")
        },
        error:function(data){
            alert("neg")
        }

    });
}//getData


</script> -->
{% endblock %}
