{% extends "analizzadati/basedashboard.html" %}
{% load static %}
{% block content %}
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-3 col-sm-6">
                    <div class="card card-stats">
                        <div class="card-body ">
                            <div class="row">
                                <div class="col-5">
                                    <div class="icon-big text-center icon-warning">
                                        <i class="nc-icon nc-chart text-warning"></i>
                                    </div>
                                </div>
                                <div class="col-7">
                                    <div class="numbers">
                                        <p class="card-category">Numero sinistri analizzati</p>
                                        <h4 class="card-title">{{ data.num }}</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer ">
                            <hr>
                            <div class="stats">
                                <i class="fa fa-refresh"></i> Update Now
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="card card-stats">
                        <div class="card-body ">
                            <div class="row">
                                <div class="col-5">
                                    <div class="icon-big text-center icon-warning">
                                        <i class="nc-icon nc-light-3 text-success"></i>
                                    </div>
                                </div>
                                <div class="col-7">
                                    <div class="numbers">
                                        <p class="card-category">Data maggiori incidenti</p>
                                        <h4 class="card-title">
                                        </h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer ">
                            <hr>
                            <div class="stats">
                                <i class="fa fa-calendar-o"></i> Last day
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="card card-stats">
                        <div class="card-body ">
                            <div class="row">
                                <div class="col-5">
                                    <div class="icon-big text-center icon-warning">
                                        <i class="nc-icon nc-vector text-danger"></i>
                                    </div>
                                </div>
                                <div class="col-7">
                                    <div class="numbers">
                                        <p class="card-category">Errori trovati </p>
                                        <h4 class="card-title">
                                        {{ data.err }}
                                        </h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer ">
                            <hr>
                            <div class="stats">
                                <i class="fa fa-clock-o"></i> In the last hour
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="card card-stats">
                        <div class="card-body ">
                            <div class="row">
                                <div class="col-5">
                                    <div class="icon-big text-center icon-warning">
                                        <i class="nc-icon nc-favourite-28 text-primary"></i>
                                    </div>
                                </div>
                                <div class="col-7">
                                    <div class="numbers">
                                        <p class="card-category">Followers</p>
                                        <h4 class="card-title">+45K</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer ">
                            <hr>
                            <div class="stats">
                                <i class="fa fa-refresh"></i> Update now
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">

                {% for fascia in data.fasce_eta %}

                <div class="col-md-2">
                    <div class="card ">
                        <div class="card-header ">
                            <h4 class="card-title">{{ fascia }}</h4>
                            <p class="card-category">Tipi di incidenti relativi a conducenti nella fascia {{ fascia }}</p>
                        </div>
                        <div class="card-body ">
                            <div class="row">
                                <!-- <div class="col-md-9"></div> -->
                                <!-- <div class="btn-group">
                                    <button id="btnsettimana" type="button" class="btn btn-default btn-outline">Per settimana</button>
                                    <button id="btngiorno"  type="button" class="btn btn-default btn-outline">Per giorno</button>
                                </div>
                            </div> -->
                            <div class="row p-1">
                                <canvas id="myChart" ></canvas>
                                <!--  <div class="col-md-6 ml-auto mr-auto">
                                    <div id="worldMap" style="height: 300px;"></div>
                                </div> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {% endfor %}
        </div>
    </div>
    <footer class="footer">
        <div class="container">
            <nav>
                <ul class="footer-menu">
                    <li>
                        <a href="dashboard.html#">
                            Home
                        </a>
                    </li>
                    <li>
                        <a href="dashcol board.html#">
                            Company
                        </a>
                    </li>
                    <li>
                        <a href="dashboard.html#">
                            Portfolio
                        </a>
                    </li>
                    <li>
                        <a href="dashboard.html#">
                            Blog
                        </a>
                    </li>
                </ul>
                <p class="copyright text-center">
                    ©
                    <script>
                    document.write(new Date().getFullYear())
                    </script>
                    <a href="https://www.creative-tim.com">Creative Tim</a>, made with love for a better web
                </p>
            </nav>
        </div>
    </footer>
{% endblock %}
{% block jquery %}
    <!-- <script src="{% static 'analizzadati/myscript/basatisudatav2.js' %}"" type="text/javascript"> -->
    </script>
{% endblock %}
