{% extends "analizzadati/basedashboard.html" %}
{% load static %}
{% block content %}
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-3 col-sm-6">
                    <div class="card card-stats">
                        <div class="card-body ">
                            <div class="row">
                                <div class="col-5">
                                    <div class="icon-big text-center icon-warning">
                                       <i class="nc-icon nc-check-2 text-success"></i>
                                    </div>
                                </div>
                                <div class="col-7">
                                    <div class="numbers">
                                        <p class="card-category">Numero sinistri analizzati</p>
                                        <h4 class="card-title">{{ num }}</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer ">
                            <hr>
                            <div class="stats">
                                <i class="fa fa-refresh"></i> Update Now
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="card card-stats">
                        <div class="card-body ">
                            <div class="row">
                                <div class="col-5">
                                    <div class="icon-big text-center icon-warning">
                                        <i class="nc-icon nc-cctv text-primary"></i>
                                    </div>
                                </div>
                                <div class="col-7">
                                    <div class="numbers">
                                        <p class="card-category">Condizione traffico più frequente: </p>
                                        <h4 class="card-title">

                                             {% for data in traffico_moda %}
                                                {{ data }}
                                              {% endfor %}







                                        </h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer ">
                            <hr>
                            <div class="stats">
                                <i class="fa fa-calendar-o"></i> Last day
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-sm-6">
                    <div class="card card-stats">
                        <div class="card-body ">
                            <div class="row">
                                <div class="col-5">
                                    <div class="icon-big text-center icon-warning">
                                        <i class="nc-icon nc-watch-time text-danger"></i>
                                    </div>
                                </div>
                                <div class="col-7">
                                    <div class="numbers">
                                        <p class="card-category"> Fascia oraria con maggiori incidenti </p>
                                        <h4 class="card-title">

                                             {% for data in orario_moda %}
                                                {{ data }}
                                              {% endfor %}




                                        </h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer ">
                            <hr>
                            <div class="stats">
                                <i class="fa fa-refresh"></i> Update now
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="card card-stats">
                        <div class="card-body ">
                            <div class="row">
                                <div class="col-5">
                                    <div class="icon-big text-center icon-warning">
                                        <i class="nc-icon nc-vector text-warning"></i>
                                    </div>
                                </div>
                                <div class="col-7">
                                    <div class="numbers">
                                        <p class="card-category">Errori trovati </p>
                                        <h4 class="card-title">
                                        {{ err }}
                                        </h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer ">
                            <hr>
                            <div class="stats">
                                <i class="fa fa-clock-o"></i> In the last hour
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-9">
                    <div class="card " style="min-height: 50rem;">
                        <div class="card-header ">
                            <h4 class="card-title">Frequenza incidenti a seconda delle condizioni del traffico</h4>
                            <p class="card-category">Dati relativi al mese di Gennaio e Febbraio 2013</p>
                        </div>
                        <div class="card-body ">

                          <!--   <div class="row"> -->

                                <canvas id="myChart" ></canvas>
                                <!--  <div class="col-md-6 ml-auto mr-auto">
                                    <div id="worldMap" style="height: 300px;"></div>
                                </div> -->
                           <!--  </div> -->
                        </div>
                    </div>
                </div>


                 <div class="col-md-3">
                    <div class="card" style="min-height: 50rem;">
                        <div class="card-header ">
                            <h4 class="card-title">Frequenza incidenti per fascia oraria</h4>
                            <p class="card-category">Dati relativi al mese di Gennaio e Febbraio 2013</p>


                            <p></p>

                            <div class="row">
                                <div class="col-md-3">
                                <p class="card-category">Condizioni traffico:
                                    <p id="condizionitext" class="card-category">tutte
                                </div>
                                 <div class="col-md-9">
                                    </br>
                                  <div class="pull-right">
                                    <button id="backtoglobal" class="btn btn-outline btn-wd">Globale</button>
                                </div>
                                </div>
                            </div>

                            </div>
                        <div class="card-body ">


                                <canvas id="myChart2" width="200%" height="200%" margin-left="-20%"></canvas>
                                <!--  <div class="col-md-6 ml-auto mr-auto">
                                    <div id="worldMap" style="height: 300px;"></div>
                                </div> -->


                        </div>
                    </div>
                </div>


            </div>




    </div>

{% endblock %}
{% block jquery %}
   <!--  <script src="{% static 'analizzadati/myscript/basatisuconducente.js' %}" type="text/javascript">
    </script> -->



<script src="{% static 'analizzadati/myscript/basatisutraffico.js' %}" type="text/javascript">
</script>


{% endblock %}
