{% extends "analizzadati/base.html" %}
{% load static %}
{% block content %}
  <div class="content">
    <div class="container-fluid">
      <div class="row justify-content-md-center p-5" >
        <div class="col-md-6 " >
          <div class="card stacked-form">
            <div class="card-header ">
              <h4 class="card-title text-center">Analyze Account</h4>
            </div>
            <div class="card-body ">
              <form action="" method="post">

                {% for item in object_list %}
                  <div class="form-check">
                    <label class="form-check-label">
                      <input class="form-check-input" type="checkbox" value="{{item.id}}" name="my_object">
                      <span class="form-check-sign"></span>
                      {{ item.name }}
                    </label>
                  {% endfor %}
                  <!--
                  <form method="POST" action='' enctype="multipart/form-data">
                    <div class="form-group">
                      {% csrf_token %}
                      {% for field_name in form.fields %}
                        <div class="form-check">
                          <label class="form-check-label">
                            <input class="form-check-input" type="checkbox">
                            {{ form.fields.field_name }}
                            <span class="form-check-sign"></span>
                            {{ field_name }}
                          </label>
                        </div>
                      {% endfor %}
                    </div>
                    <div class="form-check">
                      <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" value="">
                        <span class="form-check-sign"></span>
                        Unchecked
                      </label>
                    </div> -->
                    <div class="card-footer text-center">
                      <button id="prova" type="submit" class="btn btn-fill btn-info center-block" >  AnalizzaCSV </button>
                    </div>
                    <!-- </div> -->
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    {% endblock %}
